* {
    margin: 0;
    padding: 0;
    
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    text-align: center;
    padding: 20px;
}

/* hero baner */
.header {
    color: white;
    background-color: #1F2937;
    padding: 10px 15% 50px 15%;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-weight: bolder;
    font-size: 30px;
    padding: 15px;
}
.nav-links {
    display: flex;
    list-style: none;
    
    gap: 15px;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    color: white;
}
.hero-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.hero-text {
    width: 50%;
    height: auto;
    padding: 15px;
}
.hero-img {
   height: 235px;
   width: auto;
}

.hero-text h1,p {
    margin-bottom: 15px;
}
.hero-text button {
    background-color: rgb(81, 163, 125);
    padding: 7px;
    border-radius: 8%;
    font-weight: bold;
}

/* Projects */
.projects {
    padding: 10px 15% 50px 15%;   
}


.project-lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.project > div {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: rgb(10, 127, 143) solid;
    margin: 10px 0 10px 0;
}
.project > p {
    text-align: center;
    width: 200px;
    height: auto;
   
}

.about {
    padding: 10px 15% 50px 15%;
    background-color: #e5e7eb;
}
.about-content {
    display: flex;
    justify-content: space-between;
    gap : 50px;
    
}

.about-img {
    width: 400px;
    height: auto;


}